body[data-theme=dark] {
    --background-color: #161616;
    --text-color: #fbfaea;
    --cursor-bg-color: #ffff6d;
    --cursor-border-color: #ffff6d;
    --cursor-text-color: #161616;
    --menu-toggle-bg-color: #ffff6d;
    --strong-color: #ffff6d;
}

body[data-theme=light] {
    --background-color: #fbfaea;
    --text-color: #161616;
    --strong-color: #161616;
    --cursor-bg-color: #161616;
    --cursor-border-color: transparent;
    --cursor-text-color: #fbfaea;
    --menu-toggle-bg-color: #161616;
}

body[data-theme=yellow] {
  --background-color: #ffff6d;
  --text-color: #161616;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 1.5s ease;
  margin: 0;
}
