.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.introText {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kolTitle {
  font-weight: 300;
  line-height: 1.2;
  text-align: start;
  font-size: clamp(2rem, 5vw, 4.5rem);
}

.highlight {
  font-weight: 300;
  padding: 0 0.5em;
  background-image: linear-gradient(90deg, transparent 50%, var(--text-color) 0);
  background-size: 200%;
  display: inline;
  transition: color 0.3s ease;
}

.highlight__active {
}

.highlight__text {
  max-width: 100%;
}

.container2 {
  display: flex-start;
  font-size: 8.5vw;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  position: relative;
}

.typeAnim {
  color: var(--strong-color);
  font-weight: 600;
  overflow: hidden;
  height: auto;
}

.typeExplainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight:300;
  margin-top: 2em;
  overflow: hidden;
}

@media (max-width:1199.98px) {
  .kolTitle {
    /* font-size: 3.6vw; */
  }
}

@media (max-width:991.98px) {
  .kolTitle {
    /* font-size: 2.5rem; */
  }
  .highlight {
    /* display: block; */
  }
}

@media (max-width:575.98px) {
  .container {
  }
  .kolTitle {
    font-size: 2rem;
    gap: 0.5rem;
    line-height: 1.3;
  }
  .introText {
    padding: 0 1rem;
  }
  .highlight {
    padding: 0 0.3em;
  }
  .container2 {
    margin-bottom: 2rem;
  }
}



